$white: #f9feff
$blue: #466cd3
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

a
    text-decoration: none

li
    list-style: none

#header
    position: fixed
    top: 0
    display: flex
    justify-content: space-around
    align-items: center
    height: 50px
    width: 100%
    padding: 5px 20px
    background-color: $white

    #header_logo
        display: flex
        align-items: center
        color: $blue
        font-size: 1.5em
        font-weight: 700

        img
            margin-right: 10px
            width: 30px
    
    #header_links
        display: flex
        align-items: center

        a
            margin: 0 20px
            color: $blue